.app {
  border: 1px solid #6c757d;
  margin-top: 20px;
  padding: 20px 40px;
}

button {
  width: 140px;
}

.upload-box {
  border: 1px solid grey;
  border-radius: 30px;
  overflow: hidden;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.image {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid grey;
}

.btn-remove {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.slide-box {
  border: 1px solid grey;
  border-radius: 30px;
  padding: 50px 30px 50px 30px;
  display: flex;
  justify-content: center;
}

.slide-content {
  row-gap: 40px;
}

.col {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
}

.slick-next:before {
  color: black;
}

.slick-prev:before {
  color: black;
}

.slick-next {
  top: 45%;
}

.slick-prev {
  top: 45%;
}

.form-control {
  border-color: #6c757d !important;
}

.fs-12 {
  font-size: 12px;
}

.select-file:invalid + span {
  color: #000000;
}
.select-file:valid + span {
  color: #ffffff;
}

.select-file {
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 5px 15px;
  background: #dddddd;
  display: inline-block;
}

.input-file {
  position: absolute;
  top: -1000px;
}