<template>
  <div class="container">
    <div class="app">
      <div class="d-flex flex-column gap-3">
        <button class="btn btn-outline-secondary" @click="addedImage">
          Add
        </button>
        <button class="btn btn-outline-secondary" @click="removeAll">
          Remove all
        </button>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <div>
          <div class="d-flex align-items-center mb-2">
            <input
                type="radio"
                id="grid"
                name="radio"
                value="grid"
                @change="showGrid"
                checked
            >
            <label for="grid" class="ms-2">Grid</label>
          </div>
          <div class="d-flex align-items-center">
            <input
                type="radio"
                id="slide"
                name="radio"
                value="slide"
                @change="showSlide"
            >
            <label for="slide" class="ms-2">Slide</label>
          </div>
        </div>
      </div>

      <div
          class="upload-box"
          v-for="imageAdded in listImageAdded"
          :key="imageAdded.id"
      >
        <div class="row">
          <div class="col-md-5">
            <input
                type="text"
                class="form-control mb-2"
                placeholder="Image Name"
                v-model="imageAdded.inputValue"
            >
            <label class="select-file">
              <input
                  name="image"
                  class="input-file"
                  type="file"
                  :id="`fileName${listImageAdded.indexOf(imageAdded)}`"
                  accept=".jpg,.jpeg,.png"
                  @change="validateFileType(imageAdded)"
              >
              <span>{{ imageAdded.selectFile }}</span>
            </label>
          </div>
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-5 mb-2 d-flex flex-column align-items-center">
                <button
                    class="btn btn-outline-secondary mb-3"
                    @click="upload(imageAdded)"
                >
                  Upload
                </button>
              </div>
              <div class="col-md-7">
                <div class="row">
                  <div class="col-8 d-flex flex-column align-items-center">
                    <div class="image">
                      <img
                          class="w-100 h-100"
                          :src="imageAdded.inputValue ? imageAdded.link : image"
                          :alt="`img ${listImageAdded.indexOf(imageAdded) + 1}`"
                      >
                    </div>
                    <p class="mb-0">{{ imageAdded.inputValue }}</p>
                  </div>
                  <div class="col-4 d-flex justify-content-center">
                    <button
                        class="btn btn-outline-secondary btn-sm btn-remove"
                        @click="remove(imageAdded)"
                    >
                      x
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div v-if="hideImgNotFormat">
        <div v-for="imgNotFormat in imageNotFormats" :key="imgNotFormat" class="upload-box">
          <div class="row">
            <div class="col-md-5">
              <input
                  type="text"
                  class="form-control mb-2"
                  placeholder="Image Name"
                  v-model="imgNotFormat.inputValue"
              >
              <label class="select-file">
                <input
                    name="image"
                    class="input-file"
                    type="file"
                    :id="`fileName${listImageAdded.indexOf(imgNotFormat)}`"
                    accept=".jpg,.jpeg,.png"
                    @change="validateFileType(imgNotFormat)"
                >
                <span>{{ imgNotFormat.selectFile }}</span>
              </label>
            </div>
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-5 mb-2 d-flex flex-column align-items-center">
                  <button
                      class="btn btn-outline-secondary mb-3"
                      @click="upload(imgNotFormat)"
                  >
                    Upload
                  </button>
                </div>
                <div class="col-md-7">
                  <div class="row">
                    <div class="col-8 d-flex flex-column align-items-center">
                      <div class="image">
                        <img
                            class="w-100 h-100"
                            :src="imgNotFormat.inputValue ? imgNotFormat.link : image"
                            :alt="`img ${listImageAdded.indexOf(imgNotFormat) + 1}`"
                        >
                      </div>
                      <p class="mb-0">{{ imgNotFormat.inputValue }}</p>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                      <button
                          class="btn btn-outline-secondary btn-sm btn-remove"
                          @click="remove(imgNotFormat)"
                      >
                        x
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="mb-0">{{ imgNotFormat.text }}</p>
        </div>
      </div>

      <div class="slide-box">
        <div class="row slide-content row-cols-4" v-if="status">
          <div class="col" v-for="image in listImage" :key="image.id">
            <div class="image">
              <img
                  :src="image.link"
                  class="w-100 h-100"
                  :alt="`img ${listImage.indexOf(image) + 1}`"
              >
            </div>
            <p class="mb-0">{{ image.name }}</p>
          </div>
        </div>
        <div class="w-100" v-else>
          <VueSlickCarousel v-bind="settings" class="carousel">
            <div
                class="col d-flex justify-content-center mb-3"
                v-for="image in listImage"
                :key="image.id"
            >
              <div class="image">
                <img
                    :src="image.link"
                    class="w-100 h-100"
                    :alt="`img ${listImage.indexOf(image) + 1}`"
                >
              </div>
            </div>
          </VueSlickCarousel>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from "@/config";
import VueSlickCarousel from '@bit/gsshop.vue-slick-carousel.vue-slick-carousel';
import '@bit/gsshop.vue-slick-carousel.vue-slick-carousel-theme';
export default {
  name: 'App',
  components: {
    VueSlickCarousel,
  },
  data() {
    return {
      listImageAdded: [
        {
          inputValue: '',
          link: config.IMG_DEFAULT,
          selectFile: 'Select File'
        },
      ],
      hideImgNotFormat: false,
      imageNotFormats: [],
      status: Boolean,
      listImage: [
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
        {
          link: config.IMG_DEFAULT,
          name: ''
        },
      ],
      image: config.IMG_DEFAULT,
      validateImage: Boolean,
      settings: {
        "dots": true,
        "slidesToShow": 4,
        "slidesToScroll": 1
      },
    }
  },
  methods: {
    validateFileType(obj) {
      let idex = this.listImageAdded.indexOf(obj)
      let ID = 'fileName' + idex
      let file = document.getElementById(`${ID}`);
      let fileName = file.value,
          idxDot = fileName.lastIndexOf(".") + 1,
          extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
      if (["jpg", "jpeg", "png"].includes(extFile)){
        console.log(fileName)
        obj.selectFile = '1 File Selected'
        this.validateImage = true
      } else {
        this.validateImage = false
      }
    },

    upload(obj) {
      let inputName = obj.inputValue
      let indexImageAdded = this.listImageAdded.indexOf(obj)
      if (this.validateImage) {
        this.hideImgNotFormat = false
        if (this.listImageAdded[indexImageAdded].inputValue) {
          this.Main(indexImageAdded, inputName)
        } else {
          alert('Vui lòng nhập tên hình ảnh')
          this.listImage[indexImageAdded].link = config.IMG_DEFAULT
        }
      } else {
        alert('Vui lòng nhập đúng định dạng hình ảnh')
        this.hideImgNotFormat = true
        this.imageNotFormats.push(
            {
              inputValue: '',
              link: config.IMG_DEFAULT,
              selectFile: 'Select File',
              text: 'Hình ảnh sai định dạng'
            },
        )
      }
    },

    async Main(indexImageAdded, inputName) {
      const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
      }).catch(() => alert('Vui lòng chọn hình ảnh'));
      let ID = "fileName" + indexImageAdded
      const file = document.getElementById(`${ID}`).files[0];
      let result = await toBase64(file)
      this.listImageAdded[indexImageAdded].link = result
      this.listImage[indexImageAdded].link = result
      this.listImage[indexImageAdded].name = inputName
    },

    remove(imageAdded) {
      let indexImageAdded = this.listImageAdded.indexOf(imageAdded)
      if (this.listImageAdded.length > 1) {
        this.listImageAdded.splice(indexImageAdded,1)
        if (this.listImage.length > 8) {
          this.listImage.splice(indexImageAdded,1)
        }
      } else this.removeAll()
      if (this.listImage.length <= 8) {
        this.listImage.splice(indexImageAdded,1)
        this.listImage.push({
          link: config.IMG_DEFAULT,
          name: ''
        })
      }
    },

    removeAll() {
      this.listImageAdded = [
        {
          inputValue: '',
          link: config.IMG_DEFAULT,
          selectFile: 'Select File'
        },
      ]
      this.listImage.forEach(item => {
        item.link = config.IMG_DEFAULT
        item.name = ''
      })
      this.listImage.length = 8
    },

    showGrid() {
      this.status = true
    },

    showSlide() {
      this.status = false
    },

    addedImage() {
      this.listImageAdded.push({
        inputValue: '',
        link: config.IMG_DEFAULT,
        selectFile: 'Select File'
      })
      if (this.listImageAdded.length > 8) {
        this.listImage.push({
          link: config.IMG_DEFAULT,
          name: ''
        })
      }
    },
  }
}
</script>

<style>
@import "assets/SCSS/_app-page.scss";
</style>
